body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.bg-navibar {
    background-color: #ffffff;
}


.navbar-toggler-icon {
    color: black;
}

.links {
    color: #000000 !important;
}

.logo {
    overflow: hidden;
    width: 200px;
    height: 30px;
    margin: 1.25rem 0;
    display: inline-block;
    border-right: 40px;
    vertical-align: middle;
    white-space: nowrap;
    text-indent: 1000px;
    background-image: url(https://business.virtuagym.com/wp-content/themes/FoundationPress-child/assets/img/virtuagym-logo-original.svg);
    background-size: 100% 100%;
}

/*
 * Plans Page
 */
